// @import '../../styles/variables.scss';

.about {
  &_title {
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    text-transform: uppercase;
    transform: translateX(391px);
    margin: 60px 0;
  }

  &_paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 27px;
    font-size: 16px;
    &_container {
      margin: 0 48px;
    }

    &:first-of-type {
      margin-bottom: 32px;
    }
  }

  &_container {
    padding-bottom: 101px;
  }
}

