@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.about {
  &_title {
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    text-transform: uppercase;
    display: inline-block;
    transform: translateX(391px);
    margin: 60px 0;
    box-shadow: 0 0 0 $color-grey;
    transition: all $transition-duration ease-in-out;
    letter-spacing: 0;

    &:hover {
      transform: translateX(375px);
      letter-spacing: 4px;
      box-shadow: 0 4px 0 $color-grey;
    }

    @include onTablet {
      transform: translateX(255px);

      &:hover {
        transform: translateX(229px);
      }
    }

    @include onSmallerTablet {
      transform: translateX(95px);

      &:hover {
        transform: translateX(65px);
      }
    }

    @include onMobile {
      font-size: 45px;
      line-height: 50px;
      text-align: center;
      transform: translateX(0);

      &:hover {
        transform: translateX(0);
        letter-spacing: 0;
      }
    }

    &_container {
      @include onMobile {
        display: flex;
        justify-content: center;
      }
    }
  }

  &_paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 27px;
    font-size: 16px;
    transition: all 1s ease-in-out;

    &_container {
      margin: 0 48px;
    }

    &:first-of-type {
      margin-bottom: 32px;
    }
  }

  &_container {
    padding-bottom: 101px;
  }
}
