@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main_page {
  &_container {
    margin: 101px 0 224px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: $background-light-grey;
    width: 1350px;
    padding-bottom: 159px;

    @include onTablet {
      width: 1024px;
    }

    @include onSmallerTablet {
      width: 720px;
    }

    @include onMobile {
      width: 470px;
    }
  }
}

.information_container {
  background-color: $white-color;
  width: 1168px;
  margin: 0 auto;

  @include onTablet {
    width: 868px;
  }

  @include onSmallerTablet {
    width: 568px;
  }

  @include onSmallerTablet {
    width: 568px;
  }

  @include onMobile {
    width: 268px;
  }
}