@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto&display=swap');
@import './mixins.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Oswald', sans-serif;
  height: auto;
  width: 100%;
  font-weight: 700;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-main-color;
}

.container {
  margin: 101px 0 224px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: $background-light-grey;
  width: 1350px;
  padding-bottom: 159px;

  @include onTablet {
    width: 1024px;
  }

  @include onSmallerTablet {
    width: 720px;
  }

  @include onMobile {
    width: 80%;
  }
}