@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.information_container {
  background-color: $white-color;
  width: 1168px;
  margin: 0 auto;

  @include onTablet {
    width: 868px;
  }

  @include onSmallerTablet {
    width: 568px;
  }

  @include onSmallerTablet {
    width: 568px;
  }

  @include onMobile {
    width: 80%;
  }
}