@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@font-face {
  font-family: 'Free Fat Font';
  src: url('../../../public/FREEFATFONT-Regular.ttf');
}

.create {
  &_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin: 0 176px 0 91px;
    z-index: 2;
    margin-bottom: 135px;
    

    @include onTablet {
      justify-content: center;
      width: 868px;
      justify-content: space-around;
      margin-bottom: 91px;
    }

    @include onSmallerTablet {
      flex-direction: column-reverse;
      margin-top: 150px;
      margin-left: 80px;
      width: 568px;
      align-items: center;
      justify-content: center;
    }

    @include onMobile {
      width: 320px;
      margin: 0 auto;
      margin-top: 150px;
      margin-bottom: 80px;

    }
  }

  &_title {
    font-size: 90px;
    line-height: 105px;
    text-transform: uppercase;
    font-weight: 500;

    @include onTablet {
      font-size: 50px;
      line-height: 75px;
    }

    @include onSmallerTablet {
      margin-top: 55px;
      font-size: 91px;
      line-height: 105px;
    }

    @include onMobile {
      margin-top: 0px;
      font-size: 50px;
      line-height: 65px;
    }

    &_look {
      display: inline-block;
      background-color: $lime-color;
      border-radius: 10px;
      padding: 0 8px;
      transform: rotate(10deg);
      position: relative;
      bottom: 5px;
      transition: transform $transition-duration ease-in-out;

      &:hover {
        transform: rotate(0deg);
      }
    }
  }

  &_star {
    position: absolute;
    top: 495px;
    z-index: 30;
    left: 500px;

    @include onTablet {
      top: 560px;
      left: 310px;
    }

    @include onSmallerTablet {
      left: 532px;
      top: 835px;
    }

    @include onMobile {
      top: 795px;
      left: 295px;
    }
  }

  &_text {
    font-weight: 500;
    font-family: 'Free Fat Font', sans-serif;
    letter-spacing: 1px;

    @include onMobile {
      width: 320px;
    }

    &_container {
      background-image: inherit;
      font-size: 2em;
      font-weight: bold;
      color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: visible;

      @include onSmallerTablet {
        margin-top: 20px;
      }

      &_open {
        transform: scaleX(1);
        transition: transform $transition-duration ease;
        transition-delay: $transition-duration;
      }

      &_clicked {
        transform: scaleX(0);
        transition: transform $transition-duration ease;
      }
    }
  }
}

.app_availible {
  position: absolute;
  left: 91px;
  top: 185px;

  @include onTablet {
    top: 135px;
  }

  @include onMobile {
    left: 20px;
  }
}

.availible_icon {
  @include onSmallerTablet {
    width: 100px;
    height: 100px;
  }
}

.svg_letter {
  opacity: 0;
  transition: opacity $transition-duration linear;

  &:hover {
    opacity: 0.5;
  }
}

.animated_letter {
  opacity: 1;
}