@import '../../styles/variables.scss';
@font-face {
  font-family: 'Free Fat Font';
  src: url('../../../public/FREEFATFONT-Regular.ttf');
}

.create {
  &_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin: 0 176px 0 91px;
    z-index: 2;
    margin-bottom: 135px;
  }

  &_title {
    font-size: 90px;
    line-height: 105px;
    text-transform: uppercase;
    font-weight: 500;

    &_look {
      display: inline-block;
      background-color: $lime-color;
      border-radius: 10px;
      padding: 0 8px;
      transform: rotate(10deg);
      position: relative;
      bottom: 5px;
    }
  }

  &_star {
    position: absolute;
    top: 720px;
    z-index: 2;
    left: 590px;
  }

  &_text {
    font-weight: 500;
    font-family: 'Free Fat Font', sans-serif;
    letter-spacing: 1px;

    &_container {
      background-image: inherit;
      font-size: 2em;
      font-weight: bold;
      color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      overflow: visible;

      &_open {
        transform: scaleX(1);
        transition: transform $transition-duration ease;
        transition-delay: $transition-duration;
      }

      &_clicked {
        transform: scaleX(0);
        transition: transform $transition-duration ease;
      }
    }
  }
}

.app_availible {
  position: absolute;
  left: 91px;
  top: 185px;
}