@import '../../styles/variables.scss';

.line {
  &_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
  }
  &_params {
    width: 1350px;
  }
};
