@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.slider {
  &_head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    padding-top: 76px;
    margin: 76px 0;
    text-transform: uppercase;

    &_container {
      box-shadow: 0 0 0 $color-grey;
      transition: all $transition-duration ease-in-out;
      letter-spacing: 0;

      &:hover {
        letter-spacing: 4px;
        box-shadow: 0 4px 0 $color-grey;
      }
    }

    @include onMobile {
      margin: 60px 0;
      padding-top: 60px;
      text-align: center;
    }
  }

  &_cards {
    display: flex;
    gap: 32px;
    overflow: hidden;
    width: 100%;
  }

  &_card {
    transition: transform $transition-duration ease;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }

  &_card_img {
    width: 268px;
    height: 330px;
    transition: all $transition-duration linear;

    &:hover {
      padding: 3px;
      border-radius: 20px;
      background-color: $color-mediumseagreen;
      z-index: 100;
    }
  }

  &_buttons {
    gap: 16px;
    display: flex;
    justify-content: space-between;
    height: 0;
  }

  &_button {
    z-index: 1;
    display: block;
    width: 76px;
    height: 76px;
    cursor: pointer;
    border: 1px solid #e2e6e9;
    border-radius: 50%;

    &:hover {
      border: 1px solid #0f0f11;
      color: #0f0f11;
    }

    &:disabled {
      cursor: auto;
      opacity: 50%;
      border: 0;
    }
  }

  &_button_right {
    position: relative;
    top: 145px;
    left: 1102px;

    @include onTablet {
      bottom: 200px;
      left: 802px;
    }

    @include onSmallerTablet {
      left: 504px;
    }

    @include onMobile {
      left: 343px;
    }
  }

  &_button_left {
    position: relative;
    top: 145px;
    right: 1102px;

    @include onTablet {
      right: 803px;
    }
    
    @include onSmallerTablet {
      right: 508px;
    }

    @include onMobile {
      right: 345px;
    }
  }
}

.button_arrow {
  height: 29px;
  width: 16px;
}
