@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.addictional {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_image {
    width: 90%;
  }

  &_title {
    font-size: 61px;
    margin-top: 61px;
    margin-bottom: 61px;

    @include onSmallerTablet {
      font-size: 45px;
      margin-top: 45px;
      margin-bottom: 45px;
    }

    @include onMobile {
      text-align: center;
      font-size: 30px;
    }
  }

  &_link {
    font-size: 45px;
    margin-bottom: 61px;
    color: $white-color;
    background-color: $color-darkviolet;
    padding: 20px;
    border-radius: 20px;

    @include onSmallerTablet {
      font-size: 30px;
      margin-bottom: 45px;
    }

    @include onMobile {
      font-size: 20px;
      padding: 15px;
    }
  }
}